Équipe,Code,Nom,Localisation,Fonction / spécialité,Colonne1,Compétences / pictogrammes,Équipe Nord – Dominique MECHAIN,Unnamed: 8
Nord,ARC,Abdelkader RACHID,Garches 92380,,,,Responsable,Dominique MECHAIN
Nord,AYA,Amine YAMANI,Mulhouse 68100,,,,Téléphone,06 85 29 91 21
Nord,SHS,Samir HSAKOU,Le Cateau-Cambrésis 59360 ,Belgique,,,Localisation,Saint-Fargeau-Ponthierry 77310
Nord,YBO,Yacine BOUDIA,Asnières-sur-Seine 92600,Référent,,🔧,,
Nord,SEL,Sébastien ELIE,Saint-Brice-sous-Forêt 95350,,,,,
Nord,CLS,Claude LESPAGNOL,Toute France (Mouguerre / Morlaix / Riorges),,itinérants ,🌍🔧 ⚙  🏆,,
Nord,GDU,Guillaume DURAND,Ménil-de-Senones 88210,Référent,, 🔧 ⚙ 🏆,,
Nord,JLN,Jean-Loup NEDELEC,Toute France (Orléans 45000),,itinérants ,🌍 🔧,,
Nord,JSA,Jordi SANTENAC,Toute France (Neuville-sur-Vanne 10190),,itinérants ,🌍  ⚙ 🏆,,
Nord,JFR,Jordan FORGEOIS,Toute France (Sebourg 59990),,itinérants ,⚙ ,,
Nord,CRI,Clément RICHARD,Sens-sur-Seille 71330,Référent / Expert XV8,, 🔧 ⚙ 🏆,,
Nord,DKA,Dylan KAPELA,Pompey 54340,Luxembourg ,,,,
Nord,ASA,Adrien SANTOS LOPES,Bussy-Saint-Georges 77600,,,,,
Ouest,MDI,Mathieu DINOCHEAU,Blois 41000,Référent + export,,🔧 🏆,Équipe Ouest – Jimmy GOUPILLE,
Ouest,SBA,Sébastien BARILI,Baugé-en-Anjou 49150,,,🔧,Responsable,Jimmy GOUPILLE
Ouest,JCO,Jérôme COLLIN,Toute France (Rennes 35000),CAME,itinérants ,🌍  🏆,Téléphone,07 87 00 93 49
Ouest,YLE,Yoann LECOMTE,La Chapelle-sur-Erdre 44240,ARECO,,⚙,Localisation,La Chapelle-sur-Erdre 44240
Ouest,CGU,Cyril GUYONNET,Toute France (Angoulême 16000),,itinérants ,🌍 🔧,,
Ouest,HMO,Hugo MORIN JOLY,GI Rennes 35000,,itinérants ,🌍,,
Ouest,LAM,Almeida-Martins Lucas,09200 Saint-Girons,,,,,
Ouest,TDU,Tony DUPUY,Toute France (Labrit 40420),,itinérants ,🌍 ⚙ 🏆,,
Est,RMO,Renaud MORCHAIN,Andrézieux 42160,,,,Équipe Est – Patrice MARQUEZ,
Est,GBO,Guillaume BOUCHET FLOCHET,Les Avenières 38630,Référent+ CAME,,🔧 🔷 🏆,Responsable,Patrice MARQUEZ
Est,PDA,Pierre DAVIAUD,Portes-lès-Valence 26800,,,🔧⚙,Téléphone,06 65 12 67 51
Est,HPE,Henri PECCHIURA,Chavanay 42410 ,Expert Contronics & XV8,,🔧 ⚙,Localisation,Millery 69390
Est,GDE,Guillaume DECERLE UNGARO,Sagy 71580,,,🔧⚙,,
Est,IGR,Ilyes GRISSI,Mougins 06250,Expert Vibrac,,,,
Est,JLA,Jérôme LAMBERT,Hyères 83400 (Italie),Référent +CAME,,🔧 🔷 🏆,,
Est,PCO,Paulo DA COSTA,Lespignan 34710,Référent + export  +CAME,itinérants ,🔧🌍 ⚙🔷 🏆,,
Est,TDO,Toufik DOUIB,Valence 26000,,itinérants ,🌍 ⚙,,
Est,BWI,Boris WINTERSTAN,Nîmes 30000,,,,,
